.selectGroup {
  position: relative;
  width: 100%;
}

.label {
  @extend %font-xs-regular;

  position: absolute;
  top: 8px;
  left: 16px;
  color: $gray-4;
  pointer-events: none;
  z-index: 1;
}

.select {
  @extend %font-s-regular;

  cursor: pointer;
  font-family: inherit;
  color: $font-color;
  background-color: $white;
  background-image: url('/src/assets/UI/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 16px center;
  width: 100%;
  padding: 23px 15px 7px;
  border: 1px solid $gray-3;
  border-radius: 6px;
  appearance: none;

  &:focus {
    outline: none;
    border: 1px solid $active-color;
  }
}

.errSelect {
  border-color: $red;

  &:focus {
    border-color: $red;
    box-shadow: 0 0 0 1px $red;
  }
}

.errText {
  color: $red;
  font-size: $font-size-xs;
  padding-left: 1px;
  margin-top: 0.3em;
}
