.item {
  display: flex;
  margin-bottom: 16px;

  .icon {
    align-self: flex-start;
    margin-right: 16px;
  }

  .subtitle {
    @extend %font-xs-bold;

    margin-bottom: 8px;
  }

  .text {
    @extend %font-xs-regular;

    color: $font-secondary-color;
  }
}
