$wrapper-pd: 16px;
$wrapper-pd-md: 38px;
$container-max-w: 1072px;

// breakpoints
$screen-sm: 640px;
$screen-md: 768px;
$screen-ml: 992px;
$screen-lg: 1024px;
$screen-xl: 1280px;

@mixin for($breakpoint) {
  @if $breakpoint == ScreenSM {
    @media (min-width: $screen-sm) {
      @content;
    }
  } @else if $breakpoint == ScreenMD {
    @media (min-width: $screen-md) {
      @content;
    }
  } @else if $breakpoint == ScreenML {
    @media (min-width: $screen-ml) {
      @content;
    }
  } @else if $breakpoint == ScreenLG {
    @media (min-width: $screen-lg) {
      @content;
    }
  } @else if $breakpoint == ScreenXL {
    @media (min-width: $screen-xl) {
      @content;
    }
  }
}
