@use 'sass:color';

.button {
  @extend %font-secondary-s-bold;

  width: 100%;
  padding: 12px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 10px 0 $shadow-color;
  transition: background 0.2s;
  text-transform: uppercase;

  &.primary {
    background-color: $button-primary-color;
    color: $white;

    &:hover {
      background-color: color.scale($button-primary-color, $lightness: -15%);
    }

    &:active {
      background-color: color.scale($button-primary-color, $lightness: -30%);
    }
  }

  @include for(ScreenMD) {
    font-size: $font-size-m;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
