.orderForm {
  background-color: $foreground-color;
  display: flex;
  flex-direction: column;

  @include for(ScreenMD) {
    background-color: initial;
  }

  h2 {
    @extend %font-l-bold;

    padding-bottom: 12px;
  }

  section:first-of-type h2 {
    padding-top: 8px;
  }

  section:last-of-type h2 {
    padding-bottom: 8px;
  }

  @include for(ScreenMD) {
    h2 {
      padding-top: 0;
      padding-bottom: 16px;
    }

    section:first-of-type h2 {
      padding-top: 0;
    }

    section:last-of-type h2 {
      padding-bottom: 8px;
    }
  }

  section {
    background-color: $background-color;
    padding: 15px $wrapper-pd;
    border-block: 1px solid $gray-3;

    &:not(:last-of-type) {
      margin-bottom: 16px;
    }

    @include for(ScreenMD) {
      border-block: none;
      margin-bottom: 0;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
