.orderForm {
  background-color: $foreground-color;
  display: flex;
  flex-direction: column;

  @include for(ScreenMD) {
    background-color: initial;
  }

  h2 {
    @extend %font-l-bold;

    padding-bottom: 12px;
  }

  .formSection:first-of-type h2 {
    padding-top: 8px;
  }

  .formSection:last-of-type h2 {
    padding-bottom: 8px;
  }

  @include for(ScreenMD) {
    h2 {
      padding-top: 0;
      padding-bottom: 16px;
    }

    .formSection:first-of-type h2 {
      padding-top: 0;
    }

    .formSection:last-of-type h2 {
      padding-bottom: 8px;
    }
  }
}

.formSection {
  background-color: $background-color;
  padding: 15px $wrapper-pd;
  border-block: 1px solid $gray-3;

  &:not(:last-of-type) {
    margin-bottom: 16px;
  }

  @include for(ScreenMD) {
    border-block: none;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.subtitle {
  @extend %font-xs-regular;

  color: $gray-4;
  margin-bottom: 12px;
}

.cardHeading {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: $blue-light;
  padding: 15px;
  border: 1px solid $active-color;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  .selectCardWrapper {
    display: flex;
    align-items: center;
  }

  .cardIcons {
    display: flex;
    flex-wrap: wrap;

    .cardIcon {
      margin-left: 3px;
      cursor: pointer;
    }
  }
}

.secureWrapper {
  @extend %font-s-regular;

  color: $gray-4;
  text-align: center;
  padding-top: 16px;

  .lockIcon {
    margin-right: 8px;
  }
}

.deliverySection {
  .deliveryInputs {
    display: grid;
    gap: 12px;
  }
}

.paymentSection {
  .paymentInputs {
    display: grid;
    gap: 12px;
    padding: 12px;
    background-color: $form-background-color;
    border: solid $gray-3;
    border-width: 0 1px 1px;

    .coupleInputs {
      display: grid;
      gap: 12px;
      grid-template-columns: 1fr 1fr;
    }
  }

  > button {
    margin-top: 12px;
  }
}

@include for(ScreenMD) {
  .subtitle {
    margin-bottom: 16px;
  }

  .paymentSection {
    > button {
      margin-top: 16px;
    }
  }
}
