.pageContainer {
  display: flex;
  flex-direction: column;
}

.leftEdge,
.rightEdge {
  display: none;
}

@include for(ScreenMD) {
  .pageContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;

    .contentContainer {
      display: flex;
      justify-content: center;

      .container {
        max-width: $container-max-w;
        display: grid;
        grid-template-columns: minmax(auto, 614px) minmax(auto, 458px);
        grid-template-rows: auto 1fr;
      }

      .leftEdge,
      .rightEdge {
        display: block;
        flex: 1;
        min-width: 0;
      }

      .leftEdge {
        background-color: $background-color;
      }

      .rightEdge {
        background-color: $foreground-color;
      }
    }
  }

  .sectionOrderForm {
    grid-column: 1;
    grid-row: 1 / 3;
    padding: 32px $wrapper-pd-md 4px $wrapper-pd;
    border-right: 1px solid $border-color;
    background-color: $background-color;

    // max-width: 614px (16 + 559 + 38 + 1)
  }

  .sectionSummary,
  .sectionBenefits {
    grid-column: 2;
    padding-right: $wrapper-pd;
    padding-left: $wrapper-pd-md;
    background-color: $foreground-color;

    // max-width: 458px (38 + 404 + 16)
  }

  .sectionSummary {
    grid-row: 1;
    padding-top: 32px;
  }

  .sectionBenefits {
    grid-row: 2;
  }
}
