@import '/src/styles/colors';
@import '/src/styles/media-queries';
@import '/src/styles/sizes';

.container {
  margin: 0 auto;
  max-width: $container-max-w;
  
  // padding-left: $wrapper-pd;
  // padding-right: $wrapper-pd;

  @include for(ScreenMD) {
    position: relative;
    padding-top: 32px;
    padding-left: $wrapper-pd-md;
    padding-right: $wrapper-pd-md;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;

    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 50%;
      width: 50vw;
      height: 100vh;
      background-color: $foreground-color;
      z-index: -1;
      border-left: 1px solid $gray-3;
    }

    .sectionOrderForm {
      grid-column: 1;
      grid-row: 1 / 3;
      padding-right: $wrapper-pd-md;
    }

    .sectionSummary,
    .sectionBenefits {
      grid-column: 2;
      padding-left: $wrapper-pd-md;
    }

    .sectionSummary {
      grid-row: 1;
    }

    .sectionBenefits {
      grid-row: 2;
    }
  }
}
