.benefits {
  padding: 16px $wrapper-pd 24px;
  background-color: $foreground-color;

  .titleWrapper {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
    gap: 16px;

    &::before,
    &::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid $gray-3;
    }

    .title {
      @extend %font-s-regular;
    }
  }

  @include for(ScreenMD) {
    padding: 0;
  }
}
